body {
	margin: 0;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin:  0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("bg.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__title {
	font-size: 150px;
	font-weight: 700;	
	font-color:  #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}
.intro__title:after {
	content: "";
	display: block;
	height: 3px;
	width: 60px ;
	background-color: #333333 ;
	margin: 60px auto;
}
.intro__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	color:  #fff;
	text-align: center;
	margin-bottom: 20px;
}	
.intro__inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}
.header {
	padding-top: 30px;
	width: 100% ;
	position: absolute ;
	top: 0 ;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__logo {
	font-size: 30px;
	font-weight: 700;
	color:  #fff;
}
.nav {
	font-size:  14px;
	text-transform: uppercase;
}
.nav__link {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
	transition: color 0.1s linear;
	margin: 0 15px;
	position: relative;
}

.nav__link:hover {
	color:  #fce38a;

}
.nav__link:after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;

}
.header__inner {
	display:  flex;
	justify-content: space-between;
	align-items: center;
}
.nav__link:hover:after {
	opacity: 1;
}	
.btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #333333;
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	transition: border .2s linear, color .2s linear;

}
.btn:hover {
	color: #333c;
	border-color: #3339;	
}
